<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FlyTrace.LocationLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <FlyTrace.LocationLib.Properties.Settings>
      <setting name="SPOT_MaxCallsInPack" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="SPOT_MinTimeFromPrevStart_Ms" serializeAs="String">
        <value>2000</value>
      </setting>
      <setting name="SPOT_MinCallsGap_Ms" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SPOT_SameFeedHitInterval_Seconds" serializeAs="String">
        <value>150</value>
      </setting>
      <setting name="SPOT_RequestUrlTemplate" serializeAs="String">
        <value>https://api.findmespot.com/spot-main-web/consumer/rest-api/2.0/public/feed/{0}/message.xml</value>
      </setting>
    </FlyTrace.LocationLib.Properties.Settings>
  </applicationSettings>
</configuration>