Externals/log4net/
bin/
obj/
*.suo
*.csproj.user
*.log
*.log.*
Site updates/
Tracker/Service/logs/*.timestamp
*.bin
Temp/
Site update scripts/Update/
Site update scripts/Full/
Tracker/add/
