<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FlyTrace.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <FlyTrace.Service.Properties.Settings>
      <setting name="AvgAllowedMsBetweenCalls" serializeAs="String">
        <value>1800</value>
      </setting>
      <setting name="AllowIncrementalUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Version" serializeAs="String">
        <value>18</value>
      </setting>
      <setting name="RefreshChunk" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="WriteSuccRequestFlagFile" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SpotConsequentRequestsErrorCountThresold" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="SpotConsequentTimedOutRequestsThresold" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AdminTimezone" serializeAs="String">
        <value>AUS Eastern Standard Time</value>
      </setting>
      <setting name="IsNewScheduler" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TrackerLifetimeWithoutAccess" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="IncrDebugRatio" serializeAs="String">
        <value>1</value>
      </setting>
    </FlyTrace.Service.Properties.Settings>
  </applicationSettings>
</configuration>