<?xml version="1.0"?>
<!-- Overrides settings from the same file in the parent folder -->

<appSettings>
  <!--
  1. Overrides same setting in the parent folder. See comment in the same file in the parent folder. 
  2. With default ".\logs" setting service logs go into "~\service\logs\" folder.
  3. DON'T FORGET TO SET READ-WRITE PERMISSIONS FOR THAT FOLDER FOR ACCOUNT UNDER WHICH ASP.NET APPS RUN
  4. THE APP DOES NOT RESTART AFTER THIS FILE CHANGED (it's not like web.config)
  -->
  <add key="log_folder" value=".\logs"/>
</appSettings>