<?xml version="1.0"?>
<!-- In a separate file to have it as a local setting untracked by SCC -->
<connectionStrings>
  <add name="TrackerConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Tracker;Integrated Security=True" providerName="System.Data.SqlClient"/>
</connectionStrings>