<?xml version="1.0"?>
<!--
This file is assumed to be versioned, but with the local changes in it ignored. It allows
to keep config changes that are local to the system and should not go into the repo, such
as local log folder path, passwords etc.

Lookup "Ignoring versioned files in Git" for details.

- For ignoring:
    git update-index ++hyphen;assume-unchanged Tracker/local.config
    (replace each '+' with '-' - XML comments do not allow double-hyphens)

- To track again:
    git update-index ++no-assume-unchanged Tracker/local.config
    (replace each '+' with '-' - XML comments do not allow double-hyphens)

If a new setting is added here, follow steps described in the link above to make the file 
un-ignored again, commit change, and ignore it back.
-->

<appSettings>
  <!-- 
    A path used to make an environment variable of the same name that can be used in log4net config.

    The path could be relative to the application root folder - specified by dot, e.g. ".\logs"
    
    - DON'T FORGET TO SET READ-WRITE PERMISSIONS FOR THAT FOLDER FOR ACCOUNT UNDER WHICH ASP.NET APPS RUN
    - THE APP DOES NOT RESTART AFTER THIS FILE CHANGED (it's not like web.config)
    -->
  <add key="log_folder" value=".\logs"/>

</appSettings>