<?xml version="1.0"?>
<!--
This file is assumed to be versioned, but with the local changes in it ignored. It allows
to keep config changes that are local to the system and should not go into the repo, such
as local log folder path, passwords etc.

See "Ignoring versioned files" section in here for details:
https://help.github.com/articles/ignoring-files/#ignoring-versioned-files

If a new setting is added here, follow steps described in the link above to make the file 
un-ignored again, commit change, and ignore it back.

Notice that you can override those setting for the service if needed, for details see comment 
for log_root setting below.
-->

<appSettings>
  <!-- 
    A path used to make an environment variable of the same name that can be used in log4net config.

    The path could be relative to the application root folder, which would be different for UI and 
    the service.
    
    Notice that you can override this setting for the service if needed by putting similar file to the Service 
    folder with the require change, and referencing it from the Service's web.config the same way it's done for 
    the main (UI) web.config.
 
    Also:
    - DON'T FORGET TO SET READ-WRITE PERMISSIONS FOR THAT FOLDER FOR ACCOUNT UNDER WHICH ASP.NET APPS RUN
    - THE APP DOES NOT RESTART AFTER THIS FILE CHANGED (it's not like web.config)

    So with default ".\logs" setting:
    - Tracker logs go into "~\logs\" folder.
    - Service logs go into "~\service\logs\" folder.
    -->
  <add key="log_folder" value=".\logs"/>

</appSettings>