<?xml version="1.0"?>

<!--
  Flytrace, online viewer for GPS trackers.
  Copyright (C) 2011-2014 Mikhail Karmazin
  
  This file is part of Flytrace.
  
  Flytrace is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  Flytrace is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.
  
  You should have received a copy of the GNU Affero General Public License
  along with Flytrace.  If not, see <http://www.gnu.org/licenses/>.
-->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FlyTrace.LocationLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="FlyTrace.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
      <section name="FlyTrace.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>

  <!-- In a separate file to have it as a local setting untracked by SCC -->
  <connectionStrings configSource="Web.connectionStrings.config"/>

  <appSettings file="local.config">
    <add key="LogConfig" value="log4net.config"/>
    <add key="DefaultLogConfig" value="log4net.config.default"/>
  </appSettings>

  <location path="default.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="restorePassword.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="verification.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="unauthorizedAccess.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="map.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="register.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="help">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Service">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Service/administration">
    <system.web>
      <authorization>
        <allow roles="Admins"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Service/test">
    <!-- ReSharper doesn't like it, but it actually exists in Service project -->
    <system.web>
      <authorization>
        <allow roles="Admins"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Service/administration/AdminFacade.asmx">
    <!-- ReSharper doesn't like it, but it actually exists in Service project -->
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="administration">
    <system.web>
      <authorization>
        <allow roles="Admins"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location allowOverride="true">
    <system.web>
      <authentication mode="Forms">
        <forms loginUrl="~/login.aspx" name=".ASPXFORMSAUTH" timeout="10080"/>
      </authentication>
      <machineKey
          validationKey="AutoGenerate"
          decryptionKey="AutoGenerate"
          validation="SHA1"/>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <system.net>
    <mailSettings>
      <smtp from="admin@flytrace.com">
        <network host="192.168.101.179" port="25"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime targetFramework="4.6.1" />
    <customErrors mode="Off"/>
    <globalization uiCulture="en" culture="en-AU"/>
    <roleManager enabled="true" defaultProvider="TrackerSqlRoleProvider">
      <providers>
        <clear/>
        <add name="TrackerSqlRoleProvider"
             type="System.Web.Security.SqlRoleProvider"
             applicationName="Tracker"
             connectionStringName="TrackerConnectionString"/>
      </providers>
    </roleManager>
    
    <membership defaultProvider="TrackerSqlMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear/>
        <add name="TrackerSqlMembershipProvider"
             type="System.Web.Security.SqlMembershipProvider"
             connectionStringName="TrackerConnectionString"
             applicationName="Tracker"
             enablePasswordReset="true"
             requiresQuestionAndAnswer="false"
             requiresUniqueEmail="true"
             minRequiredPasswordLength="4"
             maxInvalidPasswordAttempts="20"
             minRequiredNonalphanumericCharacters="0"
             passwordFormat="Hashed"
             enablePasswordRetrieval="false"
              />
        <!-- alternative configuration:
             passwordFormat="Clear"
             enablePasswordRetrieval="true"

            passwordFormat="Hashed"
          enablePasswordRetrieval="false"
        -->
      </providers>
    </membership>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="flytrace_tools" namespace="FlyTrace.Tools" assembly="Tracker"/>
      </controls>
    </pages>
    <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
    <compilation debug="true" targetFramework="4.6.1">
      <expressionBuilders>
        <add expressionPrefix="FtCode" type="FlyTrace.Tools.CodeExpressionBuilder"/>
      </expressionBuilders>
    </compilation>
  </system.web>
  <system.webServer>
    <caching enabled="false"/>
    <urlCompression doDynamicCompression="false"/>
  </system.webServer>
  <applicationSettings>
    <FlyTrace.Properties.Settings>
      <setting name="AdminEmail" serializeAs="String">
        <value>admin@flytrace.com</value>
      </setting>
      <setting name="DisableCreatedUsers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InfoEmail" serializeAs="String">
        <value>info@flytrace.com</value>
      </setting>
    </FlyTrace.Properties.Settings>
    <FlyTrace.LocationLib.Properties.Settings configSource="Web.LocationLib.dll.config"/>
    <FlyTrace.Service.Properties.Settings configSource="Web.Service.dll.config"/>
  </applicationSettings>
</configuration>