<?xml version="1.0"?>
<!-- In a separate file to have it as a local setting untracked by SCC.

This file is assumed to be versioned, but with the local changes in it ignored. It allows
to keep config changes that are local to the system and should not go into the repo, such
as local log folder path, passwords etc.

Lookup "Ignoring versioned files in Git" for details.

- For ignoring:
    git update-index ++assume-unchanged Tracker/Web.connectionStrings.config
    (replace each '+' with '-' - XML comments do not allow double-hyphens)

- To track again:
    git update-index ++no-assume-unchanged Tracker/Web.connectionStrings.config
    (replace each '+' with '-' - XML comments do not allow double-hyphens)


If a new setting is added here, follow steps described in the link above to make the file 
un-ignored again, commit change, and ignore it back.
-->

<connectionStrings>
  <add name="TrackerConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|Flytrace.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
</connectionStrings>